:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --purple: #8B5CF6;
    --light: #EEE;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--light);
    background-color: var(--dark);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 2rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    margin: 0.5rem;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    color: blueviolet;
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

input {
    background-color: var(--darker);
    outline: none;
    width: 40vw;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

input::placeholder {
    color: var(--grey);
}

.app-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 2rem;
    max-width: 80vw;
    min-width: 360px;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.header__left-block {
    width: 15vw;
}

.header__title {
    width: 70vw;
    text-align: center;
}

.header__favorites-btn {
    font-size: 1.2rem;
    width: 10vw;
}

.header__favorites-btn-container {
    margin-right: 5vw;
}


main {
    margin-top: 1rem;
}

/*FORM*/
.search-form {
    width: 50vw;
    display: inline-flex;
    margin-bottom: 1rem;
}

.search-form button {
    margin-left: 1rem;
}

/*RECENT*/
.recent__container {
    display: flex;
    width: 50vw;
    margin-bottom: 2rem;
    transform: translateX(-2vw);
}

.recently-searched-btn {
    margin: 0.5rem;
    font-size: 12pt;
    color: var(--light);
    background-color: var(--purple);
    border-radius: 1rem;
    padding: 8px;
}

/*PRODUCT*/
.products-list__container {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
}

.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.product-card__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--purple);
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
}

.product-card__image {
    padding: 5px;
    width: 15vw;
    height: 20vw;
    object-fit: contain;
    margin-bottom: 1rem;
}

.product-card__add-to-favorites-btn {
    background-color: var(--light);
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 5px;
    margin: 0.5rem;
}

.delete-btn {
    background-color: firebrick;
    color: var(--light);
}

.product_card__description {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
}

.load-more-btn {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 100%;
    transform: translateX(16vw);
}

.no-items-left-message {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem;
}

.to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    font-size: 3rem;
    padding: 15px;
    border-radius: 10px;
}

/*MODAL*/
.modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 2rem;
    padding: 2rem;
    min-height: 600px;
    width: 70vw;
    background: var(--darker);
    border-radius: 1rem;
    z-index: 100;
}

#modal-content {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 50vw;
    justify-content: space-between;
}

.no-items-message {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.hide {
    display: none;
}

/*SINGLE PRODUCT CARD*/

.card__container {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.card__image {
    padding: 5px;
    width: 20vw;
    height: 25vw;
    object-fit: contain;
    margin-bottom: 1rem;
}

.card__description {
    font-size: 1rem;
    margin-bottom: 2rem;
}












