:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --purple: #8B5CF6;
    --light: #EEE;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--light);
    background-color: var(--dark);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--light);
    margin-bottom: 2rem;
}

button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    color: blueviolet;
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

input {
    background-color: var(--darker);
    outline: none;
    width: 40vw;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

input::placeholder {
    color: var(--grey);
}

.app-container {
    margin-top: 2rem;
    max-width: 80vw;
    min-width: 360px;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.header__left-block {
    width: 15vw;
}

.header__title {
    width: 70vw;
    text-align: center;
}

.header__favorites-btn {
    width: 10vw;
}

.header__favorites-btn-container {
    margin-right: 5vw;
}


main {
    margin-top: 1rem;
}

/*FORM*/
.search-form {
    display: inline-flex;
}

.search-form button {
    margin-left: 1rem;
}

/*RECENT*/

.recent__container {
    margin-top: 2rem;
}

/*PRODUCT*/

.products-list__container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-self: center;
    align-self: center;
}

.products-list__container:last-child {

}


.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.product-card__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--purple);
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
}

.product-card__image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 15vw;
    height: 20vw;
    object-fit: contain;
    margin-bottom: 1rem;
}

.product_card__description {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
}

.load-more-container {
    background-color: black;
    width: 100%;
    height: 10px;
}

.load-more-btn {
    font-size: 1.8rem;
    font-weight: 700;
}

.no-items-left-message {
    font-size: 1.8rem;
    font-weight: 700;
}

.to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    font-size: 3rem;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}











